<template>
  <div class="row">

    <div class="col-md-3" v-for="(item, index) in items" v-bind:key="item.id">
      
      <!-- Card Regular -->
      <div class="card card-compact mb-4">

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" :src="item.avatar" alt="Card image cap">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">

          <h5 class="card-title text-capitalize"><strong>{{ item['display_name'] }}</strong></h5>
          <h6 class="font-weight-bold indigo-text text-left">{{ item.location }}</h6>
          <star-rating :star-size="startSize" :show-rating="showRating"></star-rating>
          
          <p class="card-text text-left">{{ item.about }}t</p>

        </div>

        <!-- Card footer 
        <div class="rounded-bottom text-center pt-3">
          <ul class="list-unstyled list-inline font-small">
            <li class="list-inline-item pr-2"><i class="fa fa-clock-o pr-1"></i>05/10/2015</li>
            <li class="list-inline-item pr-2"><a href="#"><i class="fa fa-comments-o pr-1"></i>12</a></li>
          </ul>
        </div>
        -->

      </div>
      <!-- Card Regular -->

    </div>

  </div>
</template>

<script>
export default {
  props: ["items"],
  data: function() {
    return {
      startSize: 15,
      showRating: false
    };
  },
  mounted() {}
};
</script>
