html, body, main{
    min-height: 95% !important;
}

.text-normal{
    text-transform: inherit !important;
}

.md-form .prefix {
    left:0px;
}

.form-light .font-small {
    font-size: 0.8rem; 
}
  
.form-light [type="radio"] + label,
.form-light [type="checkbox"] + label {
    font-size: 0.8rem; 
}

.form-light [type="checkbox"] + label:before {
    top: 2px;
    width: 15px;
    height: 15px; 
}

.form-light input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    z-index: 0;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: 0.2s;
    transition: 0.2s; 
}

.form-light input[type="checkbox"]:checked + label:before {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent #EB3573 #EB3573 transparent;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%; 
}

.form-light .footer {
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem; 
}

/* table  */

.datatable {
    border-top:1px solid #dddddd;
    border-bottom:1px solid #dddddd;
}