
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

[v-cloak] {
  display: none;
}

[readonly], [readonly]:focus {
  border-color: transparent;
  background-color: transparent !important;
  box-shadow: 0px !important;
  cursor: default;
}

select{
  display: block !important;
}

.mdb-select{
  select{
    display: none !important;
  }  
}

.swal2-popup .swal2-select {
  display: none !important;
}

.card-compact{

  .card-body{
    padding: 15px;
  }

  .card-title{
    text-align: left;
    margin-bottom: 5px;
  }

  .rounded-bottom{
    padding-top: 0 !important;
  }

  .list-unstyled{
    margin-bottom: 10px;
  }

}

.col-form-label{
  text-align: left;
}